<div class="row">
  <div class="span8 offset2">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#description" data-toggle="tab">Опис</a></li>
      <li><a href="#quest" data-toggle="tab">Запитання</a></li>
      <li><a href="#lab_data" data-toggle="tab">Дані для графіків</a></li>
    </ul>
    <div class="tab-content" id="tabContent">
      <div class="tab-pane active in" id="description">
        <%= form_for @lab_work, id: "tab" do |f| %>
          <% if @lab_work.errors.any? %>
            <div class="alert alert-block">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h2><%= pluralize(@lab_work.errors.count, "error") %> завадили збереженню змін.</h2>
              <ul>
                <% @lab_work.errors.full_messages.each do |msg| %>
                  <li><%= @msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
      
          <div class="input-xxlarge">
            <%= f.label 'Назва роботи' %>
            <%= f.text_field :title, class: "input-block-level" %>
          </div>

          <div class="input-xxlarge">
            <%= f.label 'Опис' %>
            <%= f.text_area :description, class: "input-block-level", rows: '5' %>
          </div>
      </div>
      
      <div class="tab-pane fade" id="quest">
        <%= f.fields_for :questions, id: "tab2" do |q| %>
          <%= render 'question_fields', f: q %>
        <% end %>
        <%= link_to_add_fields "Додати запитання", f, :questions %>
        <br>
      </div>

      <div class="tab-pane fade" id="lab_datas">
        <%= f.fields_for :lab_datas, id: "tab3" do |q| %>
          <%= render 'lab_data_fields', f: q %>
        <% end %>
        <%= link_to_add_fields "Додати запитання", f, :questions %>
        <br>
      </div>

      <div class="actions">
        <%= f.submit 'Застосувати зміни', class: 'btn pull-right' %>
      </div>
    </div>

    <% end %>
  </div>
</div>