<div class="span10 thumbnail">
  <ul class="nav nav-tabs">
      <li class="active"><a href="#graph_tab_<%= @lab_data.id %>" data-toggle="tab">Графік</a></li>
      <li><a href="#table_tab_<%= @lab_data.id %>" data-toggle="tab">Дані</a></li>
      <li><a href="#dV_tab_<%= @lab_data.id %>" data-toggle="tab">dV</a></li>
    </ul>
    <div class="tab-content" id="tabContent">
      <div class="tab-pane active in" id="graph_tab_<%= @lab_data.id %>">
        <%= render 'experiment', :lab_data => @lab_data %>
      </div>
      
      <div class="tab-pane fade" id="table_tab_<%= @lab_data.id %>">
        <%= render 'data_table', :lab_data => @lab_data %>
      </div>

      <div class="tab-pane fade" id="dV_tab_<%= @lab_data.id %>">
        <%= render 'calculations', :lab_data => @lab_data %>       
      </div>
    </div>  
</div>